<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zenken Curry Club</title>
    <link rel="shortcut icon" type="image/png" href="static/images/indo-japan.jpg" /> <!--favicon-->
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'><!--sofia google gont reference-->
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
   
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top">
        <a class="navbar-brand" href="#">
            <img src="static/images/zenken.jpg" alt="logo" width="80" height="60">&nbsp&nbsp <font color="blue">Zenken Curry Club</font>
        </a>

        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <header class="page-header header container-fluid"></header>

    <div class="overlay"></div>

    


    <div class="description">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        नमस्ते
                    </div>
                </div>
            </div>
        </div>
        <h1>hello</h1>
        <h2>Namaste, welcome to the Club!</h2>
        <p>This is where you get all the authentic Indian restaurants in Tokyo.</p>
        <button class="btn btn-outline-secondary btn-lg">Tell Me More!</button>
    </div>
    <div class="container">
        <div class="row" id="About">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3 class="feature-title">Chapati</h3>
                <img src="static/images/india-2731812_960_720.jpg" class="img-fluid">
                <p> Chapatis are made of whole wheat flour known as atta, mixed into dough with water, edible oil and optional salt in a mixing utensil called a parat, and is cooked on a tava (flat skillet).</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3 class="feature-title">Gulab jamoon</h3>
                <img src="static/images/indian-sweet-371357_960_720.jpg" class="img-fluid">
                <p>It is made mainly from milk solids, traditionally from Khoya, which is milk reduced to the consistency of a soft dough. Modern recipes call for dried/powdered milk instead of Khoya. It is often garnished with dried nuts such as almonds to enhance flavour.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3 class="feature-title">Get in Touch!</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" name="name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email Address" name="email">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="4"></textarea>
                </div>
                <input type="submit" class="btn btn-secondary btn-block" value="Send" name="">
            </div>
        </div>
    </div>

    <div id="map"></div>

    <footer class="page-footer">
        <div class="container" id="Contact">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                    <p>Asish Shetty</p>
                    <p>- Indian cook, Mangalorean food as his speciality</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <p>
                        SSC, 5 Floor, Nishi-Shinjuku, Tokyo
                        <br />indianfood@zenken.com
                        <br />8147380776
                        <br />9742769598
                    </p>
                </div>
            </div>
            <div class="footer-copyright text-center">© 2019 Copyright: Zenken.com</div>
    </footer>


    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6VqGtO-MRSb5O7-KzB8U8IcjKEYmJOc0"></script>
    <script src="static/js/custom.js"></script>

</body>
</html>